@tailwind base;
@tailwind components;
@tailwind utilities;

#name-box {
	/* margin: -30px 0 0 -91.22px; */
	/* z-index: 10; */
}

.hide {
	display: none;
}

body {
	/* margin: 0px;
	height: 100%; */
	
}
canvas {
	/* display: block; */
}