@tailwind base;
@tailwind components;
@tailwind utilities;

#name-box {
	margin: -30px 0 0 -91.22px;
}

a {
	color: aliceblue;
	transition: all ease-in-out;
}

a:hover {
	transition: all ease-in-out;
	color:black;
}

body {
	margin: 0px;
	height: 100%;
}
canvas {
	display: block;
}